$margin-promotion-sections: 60px;
.app-header-background {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.picture-header-section {
  display: flex;
  flex-grow: 1;
  height: 300px;
  min-width: 33%;
  justify-content: center;
  align-items: center;
}
.picture-header-section > img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.picture-header-section > img {
  justify-content: center;
  flex-wrap: wrap;
}
.profile-info-header-section {
  flex-grow: 2;
  color: white;
  width: 66%;
}
@media (max-width: 600px){
  .app-header-background {
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  .picture-header-section {
    height: 300px;
    width: 100%;
  }
    .picture-header-section > img {
    justify-content: center;
    flex-wrap: wrap;

  }
}
