
<app-header></app-header>
<md-tab-group class="flex-container" style="justify-content: space-around;" fxLayout="column">
  <md-tab class="flex-item"  label="About me">
      <p>EARTH</p>
  </md-tab>
  <md-tab class="flex-item" label="Portfolio">

      <p>EARTH</p>

  </md-tab>
  <md-tab class="flex-item" label="Oy">

      <p>EARTH</p>

  </md-tab>
  <md-tab class="flex-item" label="Fire sadfasfsdfsdfsafsf">

      <p>EARTH</p>

  </md-tab>
  <md-tab class="flex-item" label="Fire sadfasfsdfsdfsafsf">

      <p>EARTH</p>

  </md-tab>
</md-tab-group>

